
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/images/bg.png') center/cover no-repeat;
    z-index: -2;
}

.background-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* transparent white overlay */
    z-index: -1;
}

/* Sticky navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #660099;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a.active {
    color: #FFCC33;
}

.container {
    padding-top: 50px;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh; /* Full viewport height */
  padding: 20px; /* Gap around the video */
  box-sizing: border-box;
}

.video-wrapper iframe {
  width: 80%;
  max-width: 60vw;
  height: auto;
  aspect-ratio: 16 / 9; /* Maintain video aspect ratio */
  border: none;
}
/* -------------------------------- 

File#: _1_animated-headline
Title: Animated Headline
Descr: A collection of word replacement effects
Usage: codyhouse.co/license

-------------------------------- */

/* reset */
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: hsl(0, 0%, 100%);
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
    /* 40px */
}

h2 {
    font-size: 2.125rem;
    /* 34px */
}

h3 {
    font-size: 1.75rem;
    /* 28px */
}

h4 {
    font-size: 1.375rem;
    /* 22px */
}

ol,
ul,
menu {
    list-style: none;
}

button,
input,
textarea,
select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
}

a {
    color: hsl(250, 84%, 54%);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
}

/* -------------------------------- 

Component 

-------------------------------- */

.text-anim {
    text-align: center;
    padding-bottom: 5px;
}

.text-anim__wrapper {
    position: relative;
    display: inline-block;
}

.text-anim__word {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
    white-space: nowrap;
}

.text-anim__word--in {
    position: relative;
    z-index: 2;
}

/* rotate */
.text-anim--rotate {
    --text-anim-duration: 0.85s;
    --text-anim-pause: 2.5s;
}

.text-anim--rotate .text-anim__wrapper {
    perspective: 300px;
}

.text-anim--rotate .text-anim__word {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: 50% 100%;
    transform: rotateX(-180deg);
    transition: opacity calc(var(--text-anim-duration) / 3) cubic-bezier(0.215, 0.61, 0.355, 1), transform var(--text-anim-duration) cubic-bezier(0.34, 1.56, 0.64, 1);
}

.text-anim--rotate .text-anim__word--in {
    opacity: 1;
    transform: rotateX(0deg);
}

.text-anim--rotate .text-anim__word--out {
    opacity: 0;
    transform: rotateX(180deg);
    transition: opacity calc(var(--text-anim-duration) / 6) cubic-bezier(0.215, 0.61, 0.355, 1), transform var(--text-anim-duration) cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* loader */
.text-anim--loader {
    --text-anim-duration: 2.5s;
    --text-anim-pause: 0s;
    color: hsl(225, 4%, 47%);
}

.text-anim--loader .text-anim__wrapper {
    color: hsl(230, 13%, 9%);
}

.text-anim--loader .text-anim__word {
    color: transparent;
    transition: color 0.2s;
}

.text-anim--loader .text-anim__word::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transform-origin: left center;
    transform: translateY(100%) scaleX(0);
    transition: transform var(--text-anim-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
}

.text-anim--loader .text-anim__word--in {
    color: currentColor;
}

.text-anim--loader .text-anim__word--in::after {
    transform: translateY(100%) scaleX(1);
}

.text-anim--loader .text-anim__word--out {
    color: transparent;
}

.text-anim--loader .text-anim__word--out::after {
    transition: none;
    transform: translateY(100%) scaleX(0);
}

/* slide */
.text-anim--slide {
    --text-anim-duration: 0.5s;
    --text-anim-pause: 2.5s;
}

.text-anim--slide .text-anim__wrapper {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    padding: 0.1em 0;
}

.text-anim--slide .text-anim__word {
    height: 100%;
    transform: translateY(-100%);
}

.text-anim--slide .text-anim__word--in,
.text-anim--slide .text-anim__word--out {
    animation-duration: var(--text-anim-duration);
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.text-anim--slide .text-anim__word--in {
    animation-name: text-anim-slide-in;
    animation-fill-mode: forwards;
}

.text-anim--slide .text-anim__word--out {
    animation-name: text-anim-slide-out;
}

@keyframes text-anim-slide-in {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes text-anim-slide-out {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

/* zoom */
.text-anim--zoom {
    --text-anim-duration: 0.85s;
    --text-anim-pause: 2.5s;
}

.text-anim--zoom .text-anim__wrapper {
    perspective: 300px;
}

.text-anim--zoom .text-anim__word {
    opacity: 0;
    transform: translateZ(100px);
    transition: opacity var(--text-anim-duration), transform var(--text-anim-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
}

.text-anim--zoom .text-anim__word--in {
    opacity: 1;
    transform: translateZ(0);
}

.text-anim--zoom .text-anim__word--out {
    opacity: 0;
    transform: translateZ(-100px);
}

/* push */
.text-anim--push {
    --text-anim-duration: 0.65s;
    --text-anim-pause: 2.5s;
}

.text-anim--push .text-anim__word {
    opacity: 0;
    transform: translateX(-100px);
    transition: none;
}

.text-anim--push .text-anim__word--in,
.text-anim--push .text-anim__word--out {
    transition: opacity var(--text-anim-duration), transform var(--text-anim-duration) cubic-bezier(0.34, 1.56, 0.64, 1);
}

.text-anim--push .text-anim__word--in {
    opacity: 1;
    transform: translateX(0);
}

.text-anim--push .text-anim__word--out {
    opacity: 0;
    transform: translateX(100px);
}

/* clip */
.text-anim--clip {
    --text-anim-duration: 0.7s;
    --text-anim-pause: 2s;
    --text-anim-border-width: 2px;
}

.text-anim--clip .text-anim__wrapper {
    overflow: hidden;
    vertical-align: top;
}

.text-anim--clip .text-anim__wrapper::after {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 0.7em);
    height: 1.4em;
    width: var(--text-anim-border-width);
    background-color: hsl(342, 89%, 48%);
}

.text-anim--clip .text-anim__wrapper--pulse::after {
    animation: text-anim-pulse 0.8s infinite;
}

.text-anim--clip .text-anim__word {
    opacity: 0;
    padding-right: var(--text-anim-border-width);
}

.text-anim--clip .text-anim__word--in {
    opacity: 1;
}

@keyframes text-anim-pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/* -------------------------------- 

File#: _1_tabbed-navigation-v2
Title: Tabbed Navigation v2
Descr: Tabbed (secondary) navigation
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: hsl(0, 0%, 100%);
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
}

h1 {
    font-size: 2.0736rem;
}

h2 {
    font-size: 1.728rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.2rem;
}

ol,
ul,
menu {
    list-style: none;
}

button,
input,
textarea,
select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
}

textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
}

a {
    color: hsl(250, 84%, 54%);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
}

@media (min-width: 64rem) {
    body {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3.051rem;
    }

    h2 {
        font-size: 2.44rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5625rem;
    }
}

/* variables */
:root {
    /* colors */
    --tu1-color-primary-hsl: 250, 84%, 54%;
    --tu1-color-bg-hsl: 0, 0%, 100%;
    --tu1-color-contrast-high-hsl: 230, 7%, 23%;
    --tu1-color-contrast-higher-hsl: 230, 13%, 9%;
    --tu1-color-contrast-lower-hsl: 240, 4%, 85%;

    /* spacing */
    --tu1-space-xs: 0.5rem;
    --tu1-space-sm: 0.75rem;
}

@media(min-width: 64rem) {
    :root {
        /* spacing */
        --tu1-space-xs: 0.75rem;
        --tu1-space-sm: 1.125rem;
    }
}

/* component */
.tabs-nav-v2 {
    --tabs-nav-border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: var(--tabs-nav-border-width) solid hsl(var(--tu1-color-contrast-lower-hsl));
}

.tabs-nav-v2 li {
    display: inline-block;
    margin-right: var(--tu1-space-xs);
    margin-bottom: var(--tu1-space-xs);
}

.tabs-nav-v2__item {
    display: inline-block;
    padding: var(--tu1-space-xs) var(--tu1-space-sm);
    border-radius: 0.25em;
    background-color: hsla(var(--tu1-color-contrast-higher-hsl), 0.1);
    color: inherit;
    white-space: nowrap;
    text-decoration: none;
}

.tabs-nav-v2__item--selected,
.tabs-nav-v2__item[aria-selected=true] {
    color: hsl(var(--tu1-color-bg-hsl));
    background-color: hsl(var(--tu1-color-contrast-higher-hsl));
}

@media (min-width: 64rem) {
    .tabs-nav-v2 li {
        margin: 0;
    }

    .tabs-nav-v2__item {
        border-radius: 0.25em 0.25em 0 0;
        background-color: transparent;
        border: var(--tabs-nav-border-width) solid transparent;
        border-bottom-width: 0;
        transition: 0.2s;
    }

    .tabs-nav-v2__item:hover {
        background-color: hsla(var(--tu1-color-contrast-higher-hsl), 0.075);
    }

    .tabs-nav-v2__item--selected,
    .tabs-nav-v2__item[aria-selected=true] {
        position: relative;
        background-color: hsl(var(--tu1-color-bg-hsl));
        color: hsl(var(--tu1-color-primary-hsl));
        border-color: hsl(var(--tu1-color-contrast-lower-hsl));
    }

    .tabs-nav-v2__item--selected::after,
    .tabs-nav-v2__item[aria-selected=true]::after {
        content: "";
        position: absolute;
        bottom: calc(var(--tabs-nav-border-width) * -1);
        left: 0;
        width: 100%;
        height: var(--tabs-nav-border-width);
        background-color: hsl(var(--tu1-color-bg-hsl));
    }

    .tabs-nav-v2__item--selected:hover,
    .tabs-nav-v2__item[aria-selected=true]:hover {
        background-color: hsl(var(--tu1-color-bg-hsl));
    }
}