body{
    font-size: 1.25rem;
    font-family: system-ui, sans-serif;
    margin: 0;
}
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../assets/images/bg.png') center/cover no-repeat;
  z-index: -2;
}

.background-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* transparent white overlay */
  z-index: -1;
}

/* Sticky navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #660099;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a.active {
  color: #FFCC33;
}

.image-wrapper{
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

.profile-img{
    border-radius: inherit;
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
}

.text{
    text-align: center;
    height: 4vmin;
}

.image-wrapper .text{
    display: none;
}

/* .image-wrapper:hover .text{
    display: block;
} */

#profiles{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 12vh 10vh;
}

.meet-the-team{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
}

#information{
    /* margin-top: 10vh; */
    padding-top: 2vh;
    padding-left: 2vw;
    border-top: 1px solid black;
}

.student-info-wrapper {
    display: flex;
    width: 70vw;
    column-gap: 2vw;
}

.info{
    display: flex;
    justify-content: center;
}